<div class="text-center">
  <h1>Oups vous vous êtes aventuré trop loin...</h1>
</div>
<div id="mon-image"></div>

<img src="assets/images/404.png" alt="" />
<!-- Angular nous permet d'accéder directement au dossier assets grâce à ce racccourci -->

<div class="p-5">
  <img
    class="w-100"
    src="https://media0.giphy.com/media/tvGOBZKNEX0ac/giphy.gif?cid=ecf05e47dd934miwcpjzihxe8djswtvv60yenlk1syz5200j&ep=v1_gifs_search&rid=giphy.gif&ct=g"
    alt="lost gif"
  />
</div>

<p>
  <a href="https://giphy.com/gifs/mrw-coffee-wants-tvGOBZKNEX0ac">via GIPHY</a>
</p>
