

<form *ngIf="!isConnected" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      Email:
      <input type="email" formControlName="email">
    </label>
    <br>
    <label>
      Mot de passe:
      <input type="password" formControlName="password">
    </label>
    <br>
    <button type="submit">Se connecter</button>
  </form>

<div *ngIf="isConnected">
  <p class="connexion" *ngIf="isConnected" >Bonjour {{userConnected}} !</p>

  <div class="container-plants p-8">

    <app-card-admin *ngFor="let plant of allPlantsToDisplay"
    [unePlanteAAfficher]="plant" (plantToDelete)="onDelete($event)"></app-card-admin>

  </div>

</div>


